<!--html:5[tab]-->
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a href="#" class="navbar-brand">DjangoGirls</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- 이 링크를 클릭하면 /post-list/로 가도록 함 -->
                        <a href="{% url 'post-list-name' %}" class="nav-link">Post List</a>
                    </li>
                    <li class="nav-item">
                        <!-- 이 링크를 클릭하면 /post-list/로 가도록 함 -->
                        <a href="{% url 'post-add-name' %}" class="nav-link">Post Add</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid pt-2">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>