<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Post List</h1>
<div>
    <p>published: 12.11.2019, 14:38</p>
    <h2><a href="">My First Page</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi consequatur
        fugit harum hic nemo nobis officiis porro quasi quia reprehenderit repudiandae sapiente sunt,
        unde voluptate? Harum minima officia recusandae!</p>
</div>
<div>
    <p>published: 12.11.2019, 14:40</p>
    <h2><a href="">My Second Page</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aut delectus ducimus, fugit ipsa quasi voluptas. Adipisci eius itaque iure omnis.</p>
</div>
</body>
</html>