{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <!-- 아래 텍스트에 링크추가, 클릭 시 해당하는 /post-detail/어딘가/로 이동하도록 함 -->
                <h5 class="card-title">
{#                    <a href="/post-detail/{{ post.pk }}/">{{ post.title }}</a>#}
                    <a href="{%  url 'post-detail-name' pk=post.pk %}">{{ post.title }}</a>
                </h5>

                <!--
                    linebreaksbr: 줄바꿈을 <br>태그로 변환
                    truncatechars: 뒤에 지정한 글자수만큼 표시 후 ...으로 줄임
                -->
                <p class="card-text">{{ post.text|linebreaksbr|truncatechars:250 }}</p>
                <div class="text-right">
                    <span class="small">{{ post.created_date }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}