{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <!--
                    linebreaksbr: 줄바꿈을 <br>태그로 변환
                    truncatechars: 뒤에 지정한 글자수만큼 표시 후 ...으로 줄임
                -->
                <p class="card-text">{{ post.text|linebreaksbr|truncatechars:250 }}</p>
                <div class="text-right">
                    <span class="small">{{ post.created_date }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

